In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

base = pd.read_csv('../00_datasets/credit_data.csv')

In [2]:
base.describe()#perceba os valores negativos no atributo idade

        i#clientid        income          age          loan    c#default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [3]:
media = base['age'][base['age'] > 0].mean()#Média ddas idades sem os valores negativos.
base.loc[ base['age'] < 0, 'age' ] = media#Substituindo os valores negativos.

base.describe()#Valores negativos corrigidos.
#Perceba que a quantidade de registros na coluna idade não é 2 000 e sim 1 997, ou seja, faltam valores.

        i#clientid        income          age          loan    c#default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.927700   4444.369695     0.141500
std     577.494589  14326.327119    13.261825   3045.410024     0.348624
min       1.000000  20014.489470    18.055189      1.377630     0.000000
25%     500.750000  32796.459717    29.072097   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [4]:
base.loc[ pd.isnull(base['age']) ]#localizando valores nulos na coluna age
#Separando atributos previsores do atributo classe:

previsores = base.iloc[:, 1:4].values
classe = base.iloc[:, 4].values

In [5]:
#Completando os valores vazios:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')#Esses parâmetros são default.
imputer = imputer.fit(previsores[:, 0:3])
previsores[:, 0:3] = imputer.transform(previsores[:,0:3])

In [6]:
#Escalando os dados: (Padronização)
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)

In [7]:
previsores

array([[ 1.45393393,  1.36538005,  1.20281942],
       [-0.76217555,  0.54265932,  0.69642695],
       [ 0.83682073,  1.67417101,  1.17471147],
       ...,
       [-0.07122592, -0.97448606,  0.35420081],
       [-0.11000289,  1.73936652, -0.92675625],
       [ 1.682986  ,  1.14917551,  0.96381038]])